.topStaticElements{

}

#logoContainer{
    text-align: center;
    padding-left: 3vw;
    color: white;
    background-color: black;
    font-weight: 600;
    display: flex;
}

#logo{
    margin-right: 0.5vw;
}

#searchBar{
    padding-left: 1vw;
    text-align: left;
    padding-top: 13px;
}